body {
    background: #000;
    color: #fff;
}

div.messagearea, div#controls p a {
    margin: 1em 0em;
    padding: 0.75em 0.75em;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    color: #fff;
    font-weight: bold;
    /**display: none;**/
}

div#message {
    background-color: rgb(200,100,100);
}

div#rangealert {
    display: none;
}

div.waiting {
    background-color: rgb(215,200,20);
}

div.connected {
    background-color: rgb(50,200,50);
}

div.disconnected {
    background-color: rgb(200, 50, 50);
}

div.emergency {
    background-color: rgb(255,50,50);
}

div.nomotors {
    background-color: rgb(255, 100, 20);
}

div#controls {
    float: left;
    width: 40%;
}

div#controls p {
}

div#controls p a {
    text-align: center;
    background: rgb(168, 100, 40);
    margin: 0em 0.5em;
    width: 100%;
    display: inline-block;
}

a#startgyro {
    background: rgb(30, 80, 168) !important;
}
a#emergency {
    background: rgb(168, 30, 30) ! important;
}

div#data {
   width: 40%; 
    float: left;
    padding-left: 1em;
}

div#view { 
    float: left;
    max-width: 50%;
}

img#webcam {
    width: 100%;
    max-width: 640px;
/**    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
**/
}

div.clearfix {
    clear:both;
}

@media all and (orientation: landscape) {
    div#message {
        display: none;
    }
}

@media all and (min-width: 1200px) {
	div#data {
		padding-left: 4em;
	}
}

