body {
    background: #000;
    color: #fff;
}


div#message {
    margin: 1em 0em;
    padding: 0.75em 0.75em;
    background-color: rgb(200,100,100);
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    color: #fff;
    font-weight: bold;
    /**display: none;**/
}


div#connection {
    margin: 1em 0em;
    padding: 0.75em 0.75em;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    color: #fff;
    font-weight: bold;
    /**display: none;**/
}

div.waiting {
    background-color: rgb(215,200,20);
}

div.connected {
    background-color: rgb(50,200,50);
}

div.disconnected {
    background-color: rgb(200, 50, 50);
}

div.emergency {
    background-color: rgb(255,50,50);
}

div.nomotors {
    background-color: rgb(255, 100, 20);
}

div#controls {
    text-align: center;
}

div#control p {
    margin: 2px;
}

div#controls p a {
    color: #fff;
    background: #c0c0c0;
    padding: 10px;
}


@media all and (orientation: landscape) {
    div#message {
        display: none;
    }
}



